/* This file is for your main application css. */
.top-buffer { margin-top:20px; }
.top-buffer-small { margin-top:10px; }

.left-right-buffer {margin-left: 10px; margin-right: 10px;}

.small-h {max-height: 40px;}

.roverPic {object-fit: cover; width: 400px;
    height: 400px;  display: inline-block}
hr {margin-top: 0}