<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Mars Pictures</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body class="text-center">
    <div class="container top-buffer ">
        <header>
            <h1>Pictures of Mars</h1>
        </header>
        <div>
            <h3>Build a query for an image from mars!</h3>
            <div class="container">
                <div class="row justify-content-center top-buffer-small">
                    <div class="col-md-10 ">
                        <form class="text-left ">
                            <div class="form-group">
                                <label for="tagsLabel">Tags</label>
                                <input type="text" class="form-control" id="tagsInput" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="cameraName">Combination Model</label>
                                <select class="form-control" id="formTagModel">
                                    <option>Intersection</option>
                                    <option>Union</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" id="getImgBtn">Get Images</button>
                            </div>
                            <div class= "text-center top-buffer justify-content-center align-items-center">
                                <h4 id="picTitle"></h4>
                                <h4 id="picDate"></h4>
                                <h4 id="picRover"></h4>
                                <h4 id="picCamera"></h4>
                            </div>

                        </form>
                
                    
                        <div class="row justify-content-center align-items-center">
                            <img id="marsImg" class="roverPic img-fluid top-buffer-small" src="https://space-facts.com/wp-content/uploads/mars.jpg">
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="top-buffer-small">
                                <button type="button" id="picLeft" class="btn btn-secondary left-right-buffer small-h">prev</button>
                                <button type="button" id="picRight" class="btn btn-secondary left-right-buffer small-h">next</button>
                            </div>

                        </div>
                        <div class="row text-center top-buffer-small">
                            <div class="col">
                                <p id="extraResults"></p>
                                <p id="picTags" style="word-wrap: break-word;"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center align-items-center">
                    <div class= "col-8 nospace-p">
                        <p> Created with &hearts; by Sam Dugan, Matt Nielsen, Andrew Gamble, Felix Lawson, Justin Drapeau, and Emma Davis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    var marsPicUrl = "https://space-facts.com/wp-content/uploads/mars.jpg";

        $(document).ready(function () {
    var picIndex = 0;
    var pictureResults = null;
    
    $("#getImgBtn").click(function (){
        $("#extraResults").text("");
        dayPic = 0;
        
        var rover = $("#formRoverName").find(":selected").text();
        var camera = $("#formCameraName").find(":selected").text();

        var tags = $("#tagsInput").val().toLowerCase().split(/[ ,]+/);
        console.log(tags);
        console.log($("#tagsInput").val());
        var typeOfComb = $('#formTagModel').find(":selected").text();
        var mode = "loose";
        if (typeOfComb === "Intersection") {
            mode = "strict";
        } else if (typeOfComb === "Union") {
            mode = "loose";
        }

        $.ajax({
            url: "/api/search/images",
            type: "POST",
            data: {tags: tags, mode: mode},

            success: function(result) {
                pictureResults = result.body;
                console.log(pictureResults);
                if (result.body && result.body.length > 0)
                    changePic(0,pictureResults);
                else {
                    changePic(-1, pictureResults);
                }
                console.log("From the server: ", result);
            }
        });
    });

    $("#picLeft").click(function () {
        if (pictureResults.length > 0) {
            picIndex--;
            picIndex = picIndex < 0 ? pictureResults.length - 1 : picIndex;
            changePic(picIndex, pictureResults);
        }
        console.log("Left");
    });

    $("#picRight").click(function () {
        if (pictureResults.length > 0) {
            picIndex++;
            picIndex = picIndex >= pictureResults.length ? 0 : picIndex;
            changePic(picIndex, pictureResults);
        }
        console.log("Right");       
    }); 
});

function changePic(index, pictures) {
    if (index >= 0 && pictures) {
        $("#marsImg").attr("src", pictures[index].url); 
        $("#extraResults").text(`${index + 1} / ${pictures.length}`);
        $('#picTitle').text(`${Math.floor(pictures[index].confidence * 100)}% confident that this is ${pictures[index].description}`);
        $('#picDate').text(`Date: ${pictures[index].date}`);
        if (pictures[index].rover)
            $('#picRover').text(`Rover: ${pictures[index].rover}`);
        $('#picCamera').text(`Camera: ${cameraNameMap(pictures[index].camera_used)}`);
        $('#picTags').text(`Tags: ${pictures[index].tags.replace(',', ', ')}`)
    } else {
        $('#picTitle').text(``);
        $('#picDate').text('')
        $('#picRover').text('')
       $("#marsImg").attr("src", marsPicUrl); 
       $("#extraResults").text(`No Pictures Found`);
       $('#picTags').text(``)
    }
}

function cameraNameMap(name) {
    if (name === "FHAZ") {
        return "Front Hazord Avoidance Camera";
    } else if (name === "RHAZ") {
        return "Rear Hazord Avoidance Camera"
    } else if (name === "MAST") {
        return "Mast Camera"
    } else if (name === "CHEMCAM") {
        return "Chemistry and Camera Complex";
    } else if (name === "MAHLI") {
        return "Mars Hand Lens Imager";
    } else if (name === "MARDI") {
        return "Mars Descent Imager"
    } else if (name === "NAVCAM") {
        return "Navigation Camera";
    } else if (name === "PANCAM") {
        return "Panoramic Camera"
    } else if (name === "MINITES") {
        return "Minature Thermal Emission Spectrometer"
    } else return "";
}

function buildUrl (rover, sol, camera){
    sol = sol ? sol : 0;
    rover = rover.toLowerCase();
    if (camera === "Front Hazard Avoidance Camera") {
        camera = "FHAZ";
    } else if (camera === "Rear Hazard Avoidance Camera") {
        camera = "RHAZ"
    } else if (camera === "Navigation Camera") {
        camera = "navcam"
    } else {
        alert("Error!");
    }
    //return "https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&api_key=qn2kihtKWovYmBWLLTdtHuJNAxqQqoyHOLJNrO9F";
    return `https://api.nasa.gov/mars-photos/api/v1/rovers/${rover}/photos?sol=${sol}&camera=${camera}&api_key=qn2kihtKWovYmBWLLTdtHuJNAxqQqoyHOLJNrO9F`;
}
    
    
    </script>

</body>

</html>